@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome to Community crisis centers</h2>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-success">
            <div class="panel-heading">User Consumer</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/action_page.php">
                    <label for="email">Risk Level:</label>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="inputEmail4">First Name</label>
                            <input class="form-control" id="inputEmail4" placeholder="First Name">
                        </div>
                        <div class="col-md-4">
                            <label for="inputPassword4">Last Name</label>
                            <input class="form-control" id="inputPassword4" placeholder="Last Name">
                        </div>
                        <div class="col-md-4">
                            <label for="inputPassword4">Middle Initial</label>
                            <input class="form-control" id="inputPassword4" placeholder="Middle Initial">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Address</label>
                            <input class="form-control" placeholder="Address">
                        </div>
                        <div class="col-md-4">
                            <label>City</label>
                            <input class="form-control" placeholder="Address">
                        </div>
                        <div class="col-md-4">
                            <label>Zip Code</label>
                            <input class="form-control" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-lg-6">
                            <label>Additional Phones</label>
                            <input class="form-control" placeholder="Additional Phones">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Caller Crisis</label>
                            <textarea class="form-control" placeholder="Caller Crisis" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Counselor Notes</label>
                            <textarea class="form-control" placeholder="Counselor Notes" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <a href="#demo" data-toggle="collapse" class="btn btn-primary">Additional Supporters</a>

                            <div id="demo" class="collapse">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="inputEmail4">First Name</label>
                                        <input class="form-control" id="inputEmail4" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4">Last Name</label>
                                        <input class="form-control" id="inputPassword4" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="inputEmail4">Phone Number</label>
                                        <input class="form-control" id="inputEmail4" placeholder="Phone Number">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputPassword4"></label>
                                        <input type="email" class="form-control" id="inputPassword4" placeholder="Email">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Action Plan</label>
                            <textarea class="form-control" placeholder="Counselor Notes" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Required Follow Update
                                <select class="form-control" id="sel1">
                                    <option>Phone</option>
                                    <option>Email</option>
                                    <option>Text Message</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label>Time Elapsed</label>
                            <input class="form-control" id="inputEmail4" placeholder="Time Elapsed">
                        </div>
                        <div class="col-lg-4">
                            <label>Time Period</label>
                            <select class="form-control" id="sel1">
                                <option>Day(s)</option>
                                <option>Week(s)</option>
                                <option>Month(s)</option>
                                <option>Year(s)</option>
                            </select>
                        </div>
                    </div>
                    <a asp-area="" asp-controller="Home" asp-action="Profile" class="btn btn-primary">Submit</a>
                    @*<button type="submit" class="btn btn-primary">Submit</button>*@
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-danger">
            <strong>Phone Call Recall</strong>
            <ul class="list-group">
                <li class="list-group-item"><a asp-area="" asp-controller="Home" asp-action="ProfileUpdate">124-789-7523</a></li>
                <li class="list-group-item"><a asp-area="" asp-controller="Home" asp-action="ProfileUpdate">676-676-7523</a></li>
                <li class="list-group-item"><a asp-area="" asp-controller="Home" asp-action="ProfileUpdate">345-789-5657</a></li>
            </ul>
        </div>
        <div class="alert alert-info">
            <strong>Care Plans</strong>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://s3.us-east-2.amazonaws.com/instant-persuasion.com/Harlem+East+Life+Plan.pdf" target="_blank">Care Plan I</a></li>
                <li class="list-group-item"><a href="https://s3.us-east-2.amazonaws.com/instant-persuasion.com/New+York+State+Office+of+Mental+Health.pdf" target="_blank">Care Plan II</a></li>
                <li class="list-group-item"><a href="https://s3.us-east-2.amazonaws.com/instant-persuasion.com/Psychiatric+Center.pdf" target="_blank">Care Plan III</a></li>
            </ul>
        </div>
    </div>
</div>

